.singlePost {
  flex: 9;
}
  
.singlePostWrapper {
  gap: 11px;
  padding: 11px 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}
.singleImgWrapper {
  gap: 11px;
  padding: 11px 20px;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.singlePostCats {

  font-size: 19px;
  color: #811515;
  line-height: 20px;
  margin-bottom: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.singlePostImg {
  width: 90%;
  height: 202px;
  border-radius: 5px;
  pointer-events: none;
}

.single-post-image{
  background-color: white;
  margin-bottom: 18px;
  box-shadow: 8px 7px 8px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.3);
  height: 237px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePostTitle {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow effect */
  color: darkred;
}

.single-related-image{
  background-color: white;
  margin-bottom: 8px;
  box-shadow: 8px 7px 8px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.3);
  height: 180px;
  width: 97%;
  border-radius: 9px;
}

.singleRelated {
  text-align: center;
  font-size: 28px;
  color: white;
  padding: 11px;
  font-weight: 600;
  margin: 10px 0px 38px;
  box-shadow: 8px 7px 8px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.3);
  height: 61px;
  width: 98%;
  border-radius: 9px;
  background-color: crimson;
}

.related{
  margin-bottom: 10px;
}

.singlePostTitleInput {
margin: 10px;
font-size: 28px;
text-align: center;
border: none;
color: gray;
border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
outline: none;
}

.singlePostImgInput {
  margin: 10px;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostDate{
  margin-right: 17px;
}

.singlePostImgInput:focus {
outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
  margin-right: 17px;
}

.singlePostIcon {
margin-left: 10px;
cursor: pointer;
}

.singlePostIcon:first-child {
color: teal;
}

.singlePostIcon:last-child {
color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #811515;
}

.singlePostDesc {
  color: indigo;
  font-size: 26px;
  line-height: 36px;
  white-space: pre-line;
  margin-top: 10px;
  user-select: none;
}

/* .singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
} */

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  height: 100vh;
  resize: none;
}

.descpara{
    display: flex;
    justify-content: center;
}

.singlePostDescInput:focus {
outline: none;
}


.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.singlePostLink{
  margin: 10px;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostLink:focus {
  outline: none;
  }

.singlePostVideoLink {
  margin-top: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.singlePostFrame{
  height: 315px;
  width: 560px;

}

/* .singlePostTitle{
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: larger;
  color: red;
  background-color: beige;
  padding: 15px;
  font-weight: 600;
} */

/* youtube place holder image */

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.single-post-youtube-img {
  max-width: 93%;
  max-height: 93%;
  margin-top: 12px;
  margin-left: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.single-post-youtube-img:hover{
  transform: scale(0.96);
  transition: transform 0.3s ease;
}

.single-post-youtube{
  background-color: white;
  margin-bottom: 18px;
  box-shadow: 8px 7px 8px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.3);
  height: 235px;
  width: 100%;
  border-radius: 9px;
}

.play-button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.relatedPostsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 16px 4px 16px 4px;
}

.relatedPostLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.relatedPostImg {
  width: 95%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;  
}

.relatedPostImg:hover{
  transform: scale(0.96);
  transition: transform 0.3s ease;
}

.relatedPostTitle {
  margin-top: 24px;
  font-size: 21px;
  text-align: center;
  line-height: 1.4;
}

.spin{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 440px) {
  .singlePostWrapper {
    padding: 10px;
  padding-right: 0;

  }
  .singleImgWrapper {
    padding: 10px 5px;
  }

  .singlePostTitle {
    font-size: 24px;
  }

  .singlePostTitleInput {
    font-size: 22px;
  }

  .singlePostInfo {
    font-size: 14px;
  }

.singlePostDesc {
font-size: 21px;
line-height: 31px;
}

.singlePostImg {
height: 140px;
}

.single-post-image{
  width: 73%;
  height: 173px;
}

.singlePostDescInput {
  font-size: 16px;
}

.related{
  height: 48px;
}

.related2{
  height: 75px;
}

.singlePostButton {
  width: 80px;
  padding: 3px;
  font-size: 12px;
  margin-top: 10px;
}
.singlePostEdit{
  margin-top: 22px;
}

.single-post-youtube {
  height: 198px;
}

.singlePostVideoLink{
  display: flex;
  justify-content: center;
}

.singlePostFrame{
  width: 295px;
  height: 166px;
}

.relatedPostsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 16px 0px 16px 0px;
}
.relatedPostImg{
  max-width: 92%;
}
.singleRelated{
  font-size: 23px;
  padding: 7px;
}
}