.homePage{
    display: flex;
}
  
.spinner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
  
.btn {
    width: fit-content; /* Allow the button to adjust its width to its content */
    margin: 0 auto; /* Center the button horizontally within its container */
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: linear-gradient(45deg, red, yellow); /* Gradient background */
    cursor: pointer;
    color: white; /* Text color */
    border-radius: 5px; /* Small border radius */
    padding: 10px 20px; /* Adjust padding for desired size */
    margin-bottom: 10px;
}


.left-container{
    display: flex;
    flex: 9;
    flex-wrap: wrap;
}